<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todolist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
Welcome, Todolist
<form method="POST" action="/task/new">
    새로운 할 일 : <input type="text" name="task"/><br>
</form>
<!--<p th:text="${resultMessage}"}></p>-->
<div>
    <table class="table">
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:if="${task.status.name() == 'TODO'}" th:text="${task.contents}"></td>
            <td th:if="${task.status.name() == 'DONE'}" th:text="${task.contents}" style="text-decoration: line-through"></td>
<!--            <td>-->
<!--                <form th:action="@{/task/{id}/edit (id=${task.id})}" method="post">-->
<!--                    <button type="submit">edit</button>-->
<!--                </form>-->
<!--            </td>-->
            <td>
                <form th:action="@{/task/{id}/check (id=${task.id})}" method="post">
                    <button type="submit">V</button>
                </form>
            </td>
            <td>
                <form th:action="@{/task/{id}/delete (id=${task.id})}" method="post">
                    <button type="submit">X</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>