<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todolist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
Welcome, Todolist
<form method="POST" action="/task/new">
    새로운 할 일 : <input type="text" name="task"/><br>
</form>
<!--<p th:text="${resultMessage}"}></p>-->
<div>
    <table class="table">
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.contents}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>